<!DOCTYPE html>
<html lang="en">
<head th:replace="navbar :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#edf5ef">
<div th:replace="navbar :: navbar2"></div>
<br>
<div class="container">

    <h3>Firmamız Hakkında</h3>
    <div class="row">
        <div class="col-6">

            <p> <h4 style="color: brown"> Kalite Yönetim Sistemi</h4> Laboratuvarımız çalışmaları, ilk aşama olan ISO
            -9001:2008 kalite sistem belgesini almaya hak kazanmıştır.
            Sağlık Firmamız Mobil Sağlık, Laboratuvar ve Analiz, Checkup konularında ISO -9001-2008 Belgesine sahiptir.
            Aynı zamanda check-up konusunda ilk kalite belgesi alan firma olmanın gururunu yaşıyoruz.
            İstanbul Laboratuvarı, teknik altyapısı sayesinde ülkemizde yokluğu hissedilen, tıbbi ya da endüstriyel
            amaçlı referans laboratuvar hizmetlerini,
            aynı zamanda tüm sağlık sektörü ile paylaşmaktadır. Tüm sağlık sektörüne fason laboratuvar hizmeti de
            vermekteyiz.
            Kalite Standartlarımız Gereği; Laboratuvarımızda her türlü tetkik en üst düzeyde, daha da güvenilir ve doğru
            şekilde yapılabilmektedir.
            Uluslararası kalite kontrol programlarıyla,laboratuvarlarımızda sürekli olarak testler güvence altında
            tutulmaktadır.
            Kalibrasyon ve kontrolleri sürekli tekrarlanmaktadır. İstanbul Laboratuvarlar Grubu Vizyonu ve hizmet
            ilkeleri doğrultusunda öncü uygulamalarıyla
            sağlık sektörüne hizmete devam etmektedir. Yeni şubelerimiz size en yakın yerden hizmet verebilmek amacıyla
            yakında hizmetinizde olacaktır. Anadolu ve büyük illerimize yönelik hizmet
            hedefimize ulaşmak için atılımlarımız ve hazırlıklarımız süratle devam etmektedir.</p>
        </div>
        <div class="col-6">
            <p> <h4 style="color: brown">Vizyonumuz</h4>
            Hasta hakları ön planda, bilgilendirmeyi kural edinmiş, testleri en doğru, en ekonomik, gözlemlenebilir,
            tekrarlı ve gelişmiş modern yöntemlerle çalışan.
            En az hatayı esas kabul edip, iç ve dış kalite kontrolleri ile bu hedefe gerçeklik katan.
            Laboratuvarcılıkta evrensel kabul görmüş sistemleri uygulayarak, kalitesinden söz ettirir İstanbul’un
            “REFERANS” bir Laboratuvarı olmak.
            MİSYONUMUZ Test sonuçları üzerinde laboratuvarmızın sorumluluğu, testin klinik laboratuvarcılık standartları
            ve iyi laboratuvar uygulamaları sınırları içinde,
            tüm kontoller yapılarak en doğru sonucu elde etmektir.
            </p>
            <p>
            <h4 style="color: brown"> Gizlilik Ve Güven</h4>
            Laboratuvarımızda çalışılan test sonuçlarının gizliliği tarafımızdan titizlikle sağlanmaktadır.
            Test sonuçları sınır değerler dışında bulunduğunda çapraz tekrar yapılarak sonucun %100 GÜVENİLİRLİĞİ
            sağlanmaktadır.
            </p>
        </div>
    </div>
</div>


</body>
</html>