<!DOCTYPE html>
<html lang="en">
<head th:replace="navbar :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#edf5ef">
<div th:replace="navbar :: navbar2"></div>
<br>
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.kaski.gov.tr/Cdn/labana-sayfa1.jpg" height="400" width="200" class="d-block w-100"
                     alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://kapadokya.edu.tr/MediaUploader/sl%C4%B1der_21.jpg" height="400" width="200"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.ktu.edu.tr/slayt/slaytlab0585.jpg" height="400" width="200" class="d-block w-100"
                     alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <h3 style="color: blue; text-align: center "> Check-Up Çeşitleri </h3>
    <br>

    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Check Up Fiyatları</h5>
                    <p class="card-text">Check Up Fiyatları 2022 Check up anlam olarak genel bir sağlık taramasıdır,
                        check up laboratuvar kan testleri, idrar ve gaita testleri ve radyoloji tetkikleri yani tıbbi
                        görüntüleme tetkikleri,
                        kanser ve tümör tarama testleri ve uzman doktor değ..</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Erkek Check-Up</h5>
                    <p class="card-text">Erkek Check-Up Paketleri Check-up, periyodik olarak yapılan genel sağlık
                        kontrolüne verilen isimdir.
                        Hiçbir hastalığınız yoksa da özellikle 35 yaşınızdan sonra sağlığınızı korumanız ve hastalıkları
                        erkenden
                        fark edebilmeniz için her yıl düzenli ol..</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Kadın Check-Up</h5>
                    <p class="card-text">Kadın Check-Up Paketleri Son yıllarda uzayan insan ömrü ve bunun sonucunda
                        artan jinekolojik problemler, kişiler tarafından yaşam kalitesinin arttırılması istemleri
                        ve koruyucu tıbbın önem kazanması sonucunda 21. yüzyıl çağdaş kadınının "rutin..</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Anti-Aging Check-Up</h5>
                    <p class="card-text">Anti-Aging Check-Up Sanayileşmiş ülkelerde bugün, çoğu insanın önceki nesillere
                        göre daha belirgin olarak uzun bir yaşam beklentisi var.
                        Bu beklenti oldukça anlaşılabilirdir. İnsan, hayatının ileriki dönemlerinde de fiziksel ve
                        ruhsal durumunu..</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>