<!DOCTYPE html>
<html lang="en">
<head th:replace="navbar :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="navbar :: navbar2"></div>

<h3 th:text=" 'Kullanıcı Adı ' + ${username} + ' Olan Laborantın Eklediği Raporlar' "></h3>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Hasta Dosya Numarası</th>
        <th scope="col">Hasta Adı</th>
        <th scope="col">Hasta Soyadı</th>
        <th scope="col">Hasta Kimlik Numarası</th>
        <th scope="col">Tanı Başlığı</th>
        <th scope="col">Raporu Hazırlayan</th>
        <th scope="col">Güncelle</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="report : ${reports}">
        <th scope="row" th:text="${report.getFileNumber}"></th>
        <td th:text="${report.getPatientFirstName}"></td>
        <td th:text="${report.getPatientLastName}"></td>
        <td th:text="${report.getPatientIdentificationNumber}"></td>
        <td th:text="${report.getReportDate}"></td>
        <td th:text="${report.getTechniciansIdentificationNumber.getFirstName} + ' ' + ${report.getTechniciansIdentificationNumber.getLastName}   "></td>
        <td><a th:href="@{'/update/report/' + ${report.getFileNumber}}">
            <button type="button" class="btn btn-primary">Bilgileri Güncelle</button>
        </a></td>
    </tr>
    </tbody>
</table>

</body>
</html>